<h1>Products#show</h1>
<%= @product.name %>
<div id="map-canvas">
  <%= javascript_tag do %>
    latitude='<%= j @product.latitude.to_s %>';
    longitude='<%= j @product.longitude.to_s %>';
    title='<%= j @product.name %>';
  <% end %>
</div>
